@import url('https://fonts.googleapis.com/css?family=Bangers|Open+Sans:400,400i,700,700i');

body {
    /* margin-top: 70px; */
    /* background: linear-gradient(rgba(27, 6, 94, 1), rgba(255, 71, 218, 1)) */
    font-family: 'Open Sans';
}

header {
    margin-bottom: 20px;
}

.jumbotron {
    background: linear-gradient(rgba(27, 6, 94, 1), rgba(255, 71, 218, 1));
    color: white;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
}

.jumbotron h1 {
    font-family: 'Bangers';
    font-size: 56px;
    transform: scale(1.0);
    transition: all 0.5s ease-out;
}

.jumbotron h1:hover {
    transform: scale(1.2);
    /* font-size: 72px; */
    transition: all 0.5s ease-out;
}

.movies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-gap: 20px;
}

.movies .no-movies {
    font-size: 32px;
    font-weight: bold;
    text-align: center;
}

.card {
    box-shadow: none;
    transition: all 0.3s ease-in-out;
}

.card:hover {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    /* border: 1px solid rgba(151, 151, 151, 0.3); */
}

.card-title {
    font-weight: bold;
}

footer {
    margin-top: 20px;
    background: #444444;
    padding: 25px 0;
    color: white;
}

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
}

.card-footer.d-flex {
    justify-content: space-between;
}

.card-footer {
    /* background: rgba(27, 6, 94, 1); */
}