body {
    /* margin-top: 70px; */
}

header {
    margin-bottom: 20px;
}

.movies {
    display: grid;
    grid-template-columns: repeat(3, minmax(280px, 1fr));
    grid-gap: 20px;
}

footer{
    margin-top: 20px;
}