<!DOCTYPE html>
<html lang="en" class="h-100">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Simple VueJS Demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="css/styles.css">
</head>
<body class="d-flex flex-column h-100">
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">VueJS Demo</a>
            </div>
        </nav>
    </header>
    <main id="app" class="container">
        <section class="jumbotron p-5 mb-4 bg-light rounded-3 text-center">
            <h1>Movie Time</h1>
            <p>{{ message }}</p>
            <button class="btn btn-primary btn-lg" @click="disableEditing" data-bs-toggle="modal" data-bs-target="#addMovieModal">Add a Movie</button>
        </section>

        <transition name="fade">
            <div v-if="displayFlash" v-bind:class="[isSuccess ? alertSuccessClass : alertErrorClass]" class="alert">
                {{ flashMessage }}
            </div>
        </transition>

        <section class="movies">
            <div v-if="!movies.length" class="no-movies">
                You haven't added any movies.
            </div>
            <div v-for="(movie, index) in movies" class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image</text></svg>
                <div class="card-body">
                    <h5 class="card-title">{{ movie.title }}</h5>
                    <p class="card-text">{{ movie.description }}</p>
                    <p class="card-text text-center text-muted">
                        <img src="images/star.svg" alt="star" v-for="n in movie.rating" /> <br><small>({{ movie.rating + '/5' }} {{ (movie.rating > 1) ? 'stars' : 'star' }})</small>
                    </p>
                </div>
                <div class="card-footer text-muted d-flex">
                    <button @click="editMovie(index)" class="btn btn-primary btn-sm text-right"><img src="images/pencil.svg" alt=""> Edit</button>
                    <button @click="removeMovie(index)" class="btn btn-danger btn-sm text-right"><img src="images/trashcan.svg" alt=""> Remove</button>
                </div>
            </div>
            <!-- <movie-card v-for="(movie, index) in movies" 
                        v-bind:movie="movie"
                        v-bind:key="index" 
                        v-on:edit="editMovie(index)" 
                        v-on:remove="removeMovie(index)">
            </movie-card> -->
        </section>

        <div id="addMovieModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="modalLabel"> {{ editMode ? 'Edit' : 'Add New' }} Movie</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">
                            <div class="form-group">
                                <label for="movie-title">Movie Title</label>
                                <input type="text" v-model="movieTitle" name="movie_title" id="movie-title" class="form-control" />
                            </div>
                            <div class="form-group">
                                <label for="movie-title">Description</label>
                                <textarea v-model="movieDescription" name="movie_description" id="movie-description" cols="30" rows="10" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label for="movie-rating">Rating</label>
                                <input type="number" v-model="movieRating" min="1" max="5" step="1" name="movie_rating" id="movie-rating" class="form-control" />
                            </div>
                        </form>
                    </div>
                    <div class="modal-footer">
                        <button type="button" v-if="!editMode" v-on:click="addMovie" class="btn btn-primary"><img src="images/plus.svg" />  Add Movie</button>
                        <button type="button" v-else v-on:click="updateMovie" class="btn btn-primary"><img src="images/pencil.svg" />  Update</button>
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer mt-auto py-3 bg-dark">
        <div class="container">
            &copy; 2022 Movie Time Inc.
        </div>
    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <!-- <script src="js/vue.js"></script> -->
    <script src="https://unpkg.com/vue@3"></script>
    <script src="js/app.js"></script>
</body>
</html>